@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.font-zen-old-mincho {
    font-family: 'Zen Old Mincho', serif;
}


.font-inter {
    font-family: 'Inter', sans-serif;
}

.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.navbar-nav .dropdown-toggle::after {
    display: none;
}