@import url('https://fonts.googleapis.com/css2?family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');

.font-zen-old-mincho {
    font-family: 'Zen Old Mincho', serif;
}

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-sunflower {
    font-family: 'Sunflower', sans-serif;
}

/* Prevent dropdown from disappearing when interacting with it */
.nav-item.dropdown .dropdown-menu {
    margin-top: 0;
}

.dropdown-hover:hover>.dropdown-menu {
    display: inline-block;
    }
    
.dropdown-hover>.dropdown-toggle:active {
/*Without this, clicking will make it sticky*/
pointer-events: none;
}

.overlay-container {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left;
    width: auto;
}

.custom-overlay-text {
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.large-first-letter::first-letter {
    font-size: 3em;
    font-weight: bold;
    float: left;
    margin-right: 0.1em;
    line-height: 1;
}

body {
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .navbar-brand {
        font-size: large;
    }
    .carousel-item img {
        height: auto;
    }
    .font-zen-old-mincho {
        font-size: 1.5rem;
    }
    .font-sunflower {
        font-size: 1rem;
    }
    .navbar-nav {
        text-align: center;
    }
    .dropdown-menu {
        text-align: left;
    }
    .caption {
        font-size: 0.8rem;
    }
    .carousel-item .col-3 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

img[usemap] {
    max-width: 100%;
    height: auto;
}